/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #fff;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header fixed while scrolling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #3a3a3a;
}

#logo {
    padding: 0 10px;
}


#navbar li {
    display: inline-block;
}

#navbar a {
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    color: #3a3a3a;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/about.jpg") no-repeat center center/cover;
    position: relative;
}


/*Text Under Hero Image*/
.slogan {
    color: #74C0FE;
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    padding-left: 20%;
    padding-right: 20%;
    bottom: 30px;
    width: 100%;
    min-height: 100px;
    padding-top: 40px;
}


.about {
    background-color: black;
    padding: 100px 0 20px 0;
    text-align: center;
}

/* About Heading */
.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    padding-left: 60px;
}

/* About Section */
.about p {
    font-size: 1rem;
    color: white;
    max-width: 800px;
    margin: 0 auto;
}

.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.about-info p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: left;
}

.about ul {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: left;
    color: white;
    max-width: 800px;
}

.about h3 {
    color: white;
    font-size: large;
}

.video {
    margin-left: 5%;
    margin-top: 5%;
}

/*Sign Up Section*/

.signup {
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
}

.signup h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

.signup p {
    font-size: 1.3rem;
}


/* Sign Up Text area size and borders */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* Style for submit button for size and color */
input[type=submit] {
    background-color: #74C0FE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50px;
}

/* highlights button green when hovering */
input[type=submit]:hover {
    background-color: #45a049;
}

/*Contact Section*/
.contact {
    background-color: white;
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.contact h2 {
    font-size: 2.5rem;
    text-align: center;
}

.contact li {
    list-style: none;
    padding: 5px;
}

.contact-text {
    font-size: 1.3rem;
    color: #3a3a3a;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

/*Footer*/

/*Spacing for footer icons*/

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    nav {
        float: none;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .about-info,
    .container-su {
        flex-direction: column;
    }

    .about h2 {
        font-size: 2.5rem;
        text-align: center;
        padding: 0;
    }

    .about-info p {
        font-size: 1.0rem;
    }

    .about-info ul {
        font-size: 1.0rem;
    }

    .signup p {
        font-size: 1.0rem;
    }

    #logo {
        font-size: 1.5em;
        text-align: center;
    }

    #slogan {
        font-size: 2em;
    }

    input[type="text"],
    select,
    textarea {
        width: 100%;
    }

    .video video {
        width: 100vw;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .contact p {
        font-size: small;
    }

    .about-info {
        margin: 0;
    }

    .video {
        margin-left: 0%;
    }

    .about h3 {
        padding-left: 32px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    .about-info,
    .container-su {
        flex-direction: row;
    }

    .about-info div,
    .container-su form {
        flex: 1 1 45%;
    }

    nav ul li {
        margin-left: 15px;
    }

    .about-info,
    .container-su {
        flex-direction: column;
    }

    .video video {
        width: 100vw;
        height: auto;
    }
    .about-info {
        margin: 0;
    }
    .about h3 {
        padding-left: 32px;
    }
    .video {
        margin-left: 0%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .about-info,
    .container-su {
        flex-direction: row;
    }

    .about-info div,
    .container-su form {
        flex: 1;
    }

    nav ul li {
        margin-left: 20px;
    }
}